<!DOCTYPE html>
<html lang="ja">
<head>
    <head>
    <meta charset="UTF-8">
    <title>クロージャの部屋</title>
    <style>
        body{
            text-align: center;
        }
        h2{
            color: #FFFFFF;
            background-color:#000000;
            border-bottom:solid 1px black
        }
    </style>
</head>
</head>
<body>
<h2>クロージャの部屋</h2>
<h4>クロージャの部屋にようこそ！<br>
このサイトではアークナイツの公開求人に関する情報を取り扱っています。<br>
ぜひご活用ください！</h4>
<h3><a href="{% url 'AKTool:login' %}">ログイン</a></h3>
<h3><a href="{% url 'AKTool:signup' %}">新規登録</a></h3>
</form>

</body>
</html>